body {
  background-color: #131a22;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border: 2px solid #37475a;
}

.popup {
  background: #232f3e;
  opacity: 0.95;
  width: 80%;
  max-width: 600px;
  height: 80%;
  max-height: 600px;
  position: fixed;
  z-index: 25;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(4, 138, 11);
  font-size: 60px;
  border-radius: 25px;
  padding: 20px;
}

.popup .playAgain {
  font-size: 24px;
  font-weight: bold;
  color: green;
}

.audio {
  grid-column: span 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid img.flip {
  transform: rotateY(180deg);
}

.data {
  border: 1px solid #f7dfdf;
  border-radius: 15px;
  width: 80%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 23px;
  margin: 20px auto;
}

.data span {
  color: rgb(206, 121, 11);
  font-size: 30px;
}

.score, .click {
  color: #4CAF50;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  border-radius: 25px;
  margin-bottom: 55px;
}

button a {
  color: white;
}

.playAgain {
  padding-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

/* Responsive Adjustments */

@media (max-width: 2560px) {
  .grid {
      grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
      grid-gap: 10px;
      width: 90%;
      max-width: 900px;
      margin: 20px auto;
  }
}
@media (max-width: 1400px) {
  .grid {
      grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
      grid-gap: 10px;
      width: 90%;
      max-width: 900px;
      margin: 20px auto;
  }
}
@media (max-width: 1200px) {
  .grid {
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
      grid-gap: 10px;
      width: 90%;
      max-width: 900px;
      margin: 20px auto;
  }
}

@media (max-width: 992px) {
  .grid {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      grid-gap: 10px;
      width: 90%;
      max-width: 800px;
      margin: 20px auto;
  }

  .popup {
      width: 90%;
      max-width: 500px;
  }

  .popup .playAgain {
      font-size: 20px;
  }

  .data {
      width: 90%;
      max-width: 500px;
      font-size: 20px;
  }
}

@media (max-width: 768px) {
  .grid {
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
      grid-gap: 8px;
      width: 90%;
      max-width: 600px;
      margin: 20px auto;
  }

  .popup {
      width: 95%;
      max-width: 400px;
  }

  .popup .playAgain {
      font-size: 18px;
  }

  .data {
      width: 95%;
      max-width: 400px;
      font-size: 18px;
  }

  button {
      font-size: 20px;
      padding: 15px;
  }
}

@media (max-width: 576px) {
  .grid {
      grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
      grid-gap: 5px;
      width: 90%;
      max-width: 500px;
      margin: 20px auto;
  }

  .popup {
      width: 95%;
      max-width: 300px;
  }

  .popup .playAgain {
      font-size: 16px;
  }

  .data {
      width: 95%;
      max-width: 300px;
      font-size: 16px;
  }

  button {
      font-size: 18px;
      padding: 12px;
  }
}


@media (max-width: 425px) and (min-height: 914px) {
  .grid {
      grid-template-columns: repeat(auto-fill, minmax(45px, 1fr));
      grid-gap: 3px;
      width: 95%;
      max-width: 300px;
      margin: 25px auto;
  }

  .popup {
      width: 95%;
      max-width: 200px;
  }

  .popup .playAgain {
      font-size: 12px;
  }

  .data {
      width: 95%;
      max-width: 200px;
      font-size: 12px;
  }

  button {
      font-size: 14px;
      padding: 8px;
  }
}

@media (max-width: 320px) {
  .grid {
      grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
      grid-gap: 3px;
      width: 90%;
      max-width: 300px;
      margin: 20px auto;
  }

  .popup {
      width: 95%;
      max-width: 200px;
  }

  .popup .playAgain {
      font-size: 12px;
  }

  .data {
      width: 95%;
      max-width: 200px;
      font-size: 12px;
  }

  button {
      font-size: 14px;
      padding: 8px;
  }
}
